@charset "utf-8";
@import "normalize";

body {
  background: #4A4A4A;
  text-align: center;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
}

h1, h2, h3, h4, p {
  color: white;
}

.logo {
  margin: 60px 0;
  
  img {
    height: auto;
    width: auto;
  }
}


.hero {
  background: url("../images/hero.jpg") no-repeat center center;
  background-size: cover;
  background-size: cover;
  height: 100vh;
  .intro {
    padding: 3rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  h1 {
    margin-bottom: 100px;
  }
}

#summary {
  margin: 20px 0;

  h4 {
    margin-top: 40px;
  }
}

form {

  h3 {
    margin: 0 0 10px 0;
  }

  input[type=submit] {
    margin: 20px 0 0 0;
  }

  textarea {
    height: 220px;
  }
}
