@charset "utf-8";
@import "normalize";

body {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  color: #4a4a4a;

  h1, h2 {
    margin-bottom: 4.5rem;
    @media screen and (max-width: 39.9375em) {
      margin-bottom: 0;
    }

  }

  h1 {
    font-size: 2.5rem;
    @media screen and (max-width: 39.9375em) {
      font-size: 1.5rem;
    }
  }

  h2 {
    font-size: 3rem;
    @media screen and (max-width: 39.9375em) {
      font-size: 1.75rem;
    }
  }

  h3 {
    font-size: 2rem;
    @media screen and (max-width: 39.9375em) {
      font-size: 1.25rem;
    }

  }

  ul {
    list-style: none;
    margin-left: 0;
  }
}

.row {
  padding-top: 4rem;
  padding-bottom: 4rem;
  @media screen and (max-width: 39.9375em) {
      padding-bottom: 2rem;
      padding-top: 2rem;
    }

}


.hero {
  background: url("../images/hero.jpg") no-repeat 68% 32%;
  background-size: cover;

  .row {
    padding-top: 2rem;
  }

  h1 {
    color: #4a4a4a;
  }

  @media screen and (max-width: 39.9375em) {
    height: 460px;
  }


  .logo {  
    img {

      margin-bottom: 30px;

      height: auto;
      width: auto;

      @media screen and (max-width: 39.9375em) {
        height: 50%;
        width: 50%;
      }
    }
  }

  height: 649px;
}

.broken {

  h2 {
    color: #00A5ED;
  }

  .row {
    padding-bottom: 0;
  }

  .name {
    font-weight: bold;
  }

  .disability {
    font-size: .75rem; 
    color: gray;
  }

  h3 {
    margin-top: 1.75rem; 
    margin-bottom: 1.75rem;
  }
  
  li {
    padding-top: .75rem;
  }
  
  li.underline {
    border-bottom: 1px solid #e1e1e1; 
    padding-bottom: .75rem; 
    margin-right: 12rem;
    @media screen and (max-width: 39.9375em) {
      margin-right: 0;
    }
  }
}

.how-it-works {
  background-color: #0093D3;
  color: white;

  p {
    margin-left: 40px;
    margin-right: 40px;
  }
  @media screen and (max-width: 39.9375em) {
      h3 {
        margin-top: 2rem;
      }
    }

}

.contact {
  font-size: 1.5rem;
  padding-top: 8rem;
  padding-bottom: 8rem;
  @media screen and (max-width: 39.9375em) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  background-color: #f6f6f6;

}

.footer {
  background-color: #004C6D;
  color: white;
}