@charset "utf-8";
@import "normalize";

body {
  background: #4A4A4A;
  text-align: center;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
}

.logo img {
  height: 18.75em;
  margin-top: 6em;
}

h1, h2, p {
  color: white;
}