---
title: Solutions for Employers
---
%section.broken#employer-broken
  .row
    .large-8.large-centered.columns.text-center
      %h2 Musculoskeletal care costs employers dearly.
  .row
    .large-8.large-centered.small-12.columns.text-center
      %p
        %strong $195 billion
        %br
          in direct medical spend
      %p
        %strong $27 billion
        %br
          in lost productivity due to absentee- and presentee- ism
      %p
        %strong 30 percent
        %br
          of all workers' comp spend

%section.status-quo
  .row
    .large-8.large-centered.columns.text-center
      %h2 Your employees aren't getting the care they deserve.
  .row
    .large-8.large-centered.columns
      = image_tag "journey.png"
  .row
    .large-8.large-centered.columns.text-center
      %p  
        %em 
          No solution today addresses the lack of coordination and perverse incentives while offering patients a credible and satisfying alternative to invasive therapy.
%section.how-it-works#employer-how-it-works
  .row
    .large-8.large-centered.columns.text-center
      %h2 Risalto provides a better, more efficient system.
      %h3 We're your proven care partner.
  .row
    .large-4.text-center.columns
      = image_tag "icon-models.png"
      %p A clinical model based on tried and true principles
    .large-4.text-center.columns
      = image_tag "icon-doctors.png"
      %p
        The best doctors in
        %em your
        network and
        %em your
        geography
    .large-4.text-center.columns
      = image_tag "icon-engage.png"
      %p
        Focus on
        %em your
        culture to drive early engagement and results
