---
title: Welcome to Risalto
---
%script{async: "", src: "https://code.jquery.com/jquery-latest.min.js", type: "text/javascript"}

%section.hero
  .row
    .small-10.medium-8.large-6.medium-centered.small-centered.columns
      .logo
        = image_tag "logo.png"
      %h1 Best-in-class musculoskeletal outcomes faster and for less
      .first 
        %button.button.hollow{:onclick => "smoothScroll(document.getElementById('second'))", :type => "button"} Contact Us


.row
  #summary
    .small-12.medium-8.large-6.medium-centered.columns
      #second.second
        %h4
          Risalto is building teams of the best providers all over the country to relieve back, joint, and musculoskeletal pain faster and for less.

%form#input-form{:action => "", :method => "POST", :target => "no-target"}
  .row.display
    .small-12.medium-8.columns.medium-centered.small-centered
      %fieldset.fieldset
        %h3 Contact Us
        %input#name{name: "entry.2146164253", placeholder: "Name", type: "text"}
        %input#email{name: "entry.910354329", placeholder: "Email", type: "text"}
        %input#subject{name: "entry.1254965326", placeholder: "Subject", type: "text"}
        %textarea#message{name: "entry.895363533", placeholder: "Message"}
        %button#form-submit.button.expanded{:type => "submit"} SUBMIT

%iframe#no-target{:name => "no-target", :src => "#", :style => "visibility:hidden"}

#callout.callout.success.hide
  %p#input-feedback

:javascript
  $('#input-form').one('submit',function(){
      var inputName = encodeURIComponent($('#name').val());
      var inputEmail = encodeURIComponent($('#email').val());
      var inputSubject = encodeURIComponent($('#subject').val());
      var inputMessage = encodeURIComponent($('#message').val());
      var nameID = "entry.2146164253"
      var emailID = "entry.910354329"
      var subjectID = "entry.1254965326"
      var messageID = "entry.895363533"
      var baseURL = 'https://docs.google.com/forms/d/10r1hfTzLycUhI9UV8sYF1g2bGR-zYL_B0WVGaUyyjpw/formResponse?';
      var submitRef = '&submit=submit';
      var submitURL = (baseURL + nameID + "=" + inputName + "&" + emailID + "=" + inputEmail + "&" + subjectID + "=" + inputSubject + "&" + messageID + "=" + inputMessage + submitRef);
      console.log(submitURL);
      $(this)[0].action=submitURL;
      $('#callout').removeClass('hide')
      $('#callout').addClass('show');
      $('#input-feedback').text('Thanks for contacting us. We will reply shortly.');
      $('#name').val('');
      $('#email').val('');
      $('#subject').val('');
      $('#message').val('');
      setTimeout(function() {$('#callout').fadeOut('slow');}, 4000);
  });
