---
title: Welcome to Risalto
---
%script{async: "", src: "https://code.jquery.com/jquery-latest.min.js", type: "text/javascript"}

%section.hero
  .row
    .small-10.medium-8.large-8.columns
      %h1 The best in musculoskeletal care
%section.broken#home-broken
  .row
    .large-8.large-centered.small-left.text-center
      %h2 Musculoskeletal care is broken
  .row
    .large-6.small-12.columns
      %h3 We're spending more and more on care, with worse results.
      .large-4.columns
        %strong &#126;$200 billion
        %br in direct medical spend
      .large-4.columns
        %strong 70&cent;
        %br on every dollar wasted
      .large-4.columns
        %strong 20% increase
        %br spine patients living with limitations
    .large-5.large-offset-1.columns.text-center
      %ul
        %li 
          %span.name Larry P, 48 year old electrician
        %li
          %span.disability Long-term disability for past 5 years due to back pain
      = image_tag "larry.jpg"
%section.how-it-works
  .row
    .large-6.large-centered.small-left.text-center
      %h2 
        Risalto has a better way
  .row
    .large-4.text-center.columns
      %h3 Find
      = image_tag "icon-select.png"
      %p We use advanced data mapping to find the best providers.
    .large-4.text-center.columns
      %h3 Connect
      = image_tag "icon-connect.png"
      %p We match patients with providers to quickly meet their needs.
    .large-4.text-center.columns
      %h3 Guide
      = image_tag "icon-guide.png"
      %p We educate and guide patients through their care journey.
%section.contact
  .row
    .large-8.small-10.small-centered.large-centered.text-center
      %h3 Join us on the path to better, faster care
      Contact us at 
      %a{:href => "mailto:info@risaltohealth.com"} info@risaltohealth.com
