---
title: Welcome to Risalto
---
.section.hero
  .row
    .small-12.medium-8.large-6.medium-centered.columns
      .logo
        = image_tag "logo.png"
      %h1 Best-in-class musculoskeletal outcomes faster and for less
      %p.button.hollow
        = link_to "Contact Us", "./contact"
.row
  .small-12.medium-10.large-6.medium-centered.columns
    %p
      Risalto is building coordinated, high-performance ultra-narrow networks to achieve best in class outcomes in back pain at 30-50% savings
%form
  .row.display
    .small-12.medium-8.columns.medium-centered.small-centered
      %fieldset.fieldset
        %legend Contact Us
        %input{placeholder: "Name", type: "text"}
        %input{placeholder: "Email", type: "text"}
        %input{placeholder: "Subject", type: "text"}
        %textarea{placeholder: "Message"}
        %input{type: "submit"}

